<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
</script>
</head>

 <body>
    <div class="container text-center">
        <button class="btn btn-success" id="start-btn">一号button</button>
        <button class="btn btn-info" id="end-btn">二号button</button>
        <p>
            <input class="text" id="status-input">
        </p>
        <p id="p1" class="alert alert-info">
            大家好
        </p>
    </div>
</body>


<script>
    $('#start-btn').on('click',function(){
        var status=$('#status-input').val()
        $.get('/test?status='+status,function(res){
            $('#p1').html(res)
        })
    })
</script>
</html>